<div class="container">
  <%= simple_form_for (@post|| Question.new) do |f| %>
    <%= f.input :title, as: :string %>
    <%= f.input :body, hint: "Can't be Empty", input_html: {placeholder: "Give more details Here"}%>
    <%= f.input :image %>
    <%= f.association :category, include_blank: false %>
    <%= f.association :tags, as: :check_boxes %>
    <!-- <%= f.button :submit, class:"btn btn-primary btn-xs" %>  -->
  <div class="form-group">
    <%= f.submit class:"btn btn-primary btn-xs"  %>
    <% end %>
  </div>
</div>
