<div class="container">
  <article>
    <h2><%= @post.title %></h2>
      <p><%= @post.body %></p>
      <p><b>Category: </b><%= @post.category_name %></p>
        <% if @post.image.present? %>
          <%= image_tag @post.image.url(:square) %>
        <% end %>
      <p><b>Created On:</b> <%= formatted_date(@post.created_at) %> <b>By: </b> <%= @post.user.first_name %>
    </p>
  </article>
</div>

<div class="container tags">
  <p><b>Tags: </b><% @post.tags.map do |x| %>
    <%= x.name %>
  <% end %></p>
</div>

<div class="container button-group">
  <%= link_to "Back", posts_path, class:"btn btn-primary btn-xs"%>
  <%= link_to "Edit", edit_post_path, class: "btn btn-warning btn-xs"%>
  <%= link_to "Delete", post_path(@post), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"}%>
</div>

  <div>
   <%= render 'likes/like' %>
  </div>
  <div>
    <%= render 'favorites/favorite' %>
  </div>


<div class="container comment-group">
  <%= render "comments/form" %>
</div>

<div class="comments">
  <h4>Comments</h4>
    <% @post.comments.each do |com| %>
      <%= render '/comments/comments', com: com %>
    <% end %>
</div>
