<div class="container">
  <article>
    <h2><%= @post.title %></h2>
      <p><%= @post.body %></p>
      <p><b>Created On:</b> <%= formatted_date(@post.created_at) %></p>
  </article>
</div>

<div class="container comment-group">

  <h2>Edit Comment</h2>
    <%= form_for [@post, @comment] do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit class:"btn btn-primary btn-xs"  %>
    <%= link_to "Back", :back, class: "btn btn-primary btn-xs"  %>
    <% end %>
  </div>
  
</div>
