<!-- Button trigger modal -->

<div data-toggle="modal" data-target="#sign_out">
<%= link_to "Sign Up", "javascript:0;" %>
</div>


<!-- Modal -->
<div class="modal fade" id="sign_out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
            <%= simple_form_for (@user || User.new) do |f| %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
            <%= f.submit class:"btn btn-primary btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
