<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <%= link_to homes_path, class: "navbar-brand" do %>
       <p>
         <i class="fa fa-bicycle"></i> My Blog
      </p>
      <% end %>
    </div>

    <div class="navbar-body">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", homes_path %></li>
        <li><%= link_to "About", abouts_path %></li>
        <li><%= link_to "My Posts", posts_path %></li>
        <li><%= link_to "Create Post", new_post_path %></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav" id="sign_in_bar">
        <% if user_signed_in? %>
          <li class="navbar-text"> <p>Hello <%= current_user.first_name %>,
            <%= link_to "Sign-Out", sessions_path, method: :delete, data: {confirm: "are you sure you want to log out?"} %></p></li>
            <% else %>
          <li class="navbar-text"><%= render "/layouts/nav_sign_up" %></li>
          <li class="navbar-text"><%= render "/layouts/nav_sign_in" %></li>
            <% end %>
      </ul>
    </div>
  </div>
</nav>
