<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="contents">
    <%= yield %>
  </div>

  <div class="navbar-default">
    <%= render "layouts/nav" %>
  </div>

  <footer class="footer">
    <div class ="bottom-navbar">
      <%= render "layouts/nav_footer" %>
    </div>
  </footer>
</body>

<script type="text/javascript">

$('#sign_up').appendTo("body")
$('#sign_in').appendTo("body")

window.addEventListener("scroll", function() {
    if (window.scrollY > 500) {
        $('.navbar-default').fadeOut();
    }
    else {
        $('.navbar-default').fadeIn();
    }
},false);

</script>
</html>
